@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.site{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: #ABACE0;
  position: relative;
  background: linear-gradient(90deg, rgba(79,197,232,1) 0%, rgba(140,208,222,0.43043154761904767) 35%, rgba(70,0,255,0.4892550770308123) 100%);
}
section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  max-width: 170px;
  right: 100px;
  bottom: 20px;
}
header ul{
  position: relative;
  display: flex;
  left: 50px;
  bottom: 20px;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  padding: 3px 17px;
  border-radius: 15px;
}
header ul li a:hover {
  transform: scale(1.2);
  border: 1px solid #36f2f2c1;
  background: transparent;
  color: white;
  transition: .4s;
}
.container {
	padding: 2rem;
}

.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
  padding-top: 50px;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textbox h2{
  color: #363062;
  font-size: 2em;
  line-height: 1.4em;
  font-weight: 500;
  left: 30px;
  
}
.content .textbox h2 span {
  color:  rgb(90, 151, 181);
  text-shadow: 2px 2px 10px white, 0 0 10px white;
  font-size: 1.2em;
  font-weight: 900;
}
.content .textbox p {
  color: #333;
  left: 30px;
}
.content .textbox .intro{
  color: #827397;
  font-style: italic;
}
.content .textbox a {
  display: inline-block;
  text-decoration: none;
  color: black;
  background: white;
  border: 1px solid white;
  padding: 9px 25px;
  line-height: 1.4;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  letter-spacing: 1px;
  left: 25px;
  position: relative;
}
.content .textbox a:hover{
  transform: scale(1.2);
  border: 1px solid #f5dca8;
  background: transparent;
  color: white;
  transition: .4s;
}
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.cards {
  background: linear-gradient(90deg, rgba(79,197,232,1) 0%, rgba(140,208,222,0.43043154761904767) 35%, rgba(70,0,255,0.4892550770308123) 100%);
}
.card {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 24%;
  margin-bottom: 30px;
  border-radius: 5px;
}
.card img {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  padding-right: 6px;
  padding-left: -4px;
}
.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.card-paragraph {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card-link {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #4D4C7D;
  text-decoration: none;
  transition: all 0.3s ease;
}

.card-link:hover {
  color: purple;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 50px;
}

.store h1 {
  padding-left: 70px;
  padding-top: 30px;
}
.grid-item {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  width: 282px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item:hover .text {
  transform: translateY(0%);
}

.grid-item:hover img {
  transform: scale(1.1);
}
.grid .grid-item .text a:hover{
  transform: scale(1.2);
  border: 1px solid #f5dca8;
  border-radius: 4px;
  background: transparent;
  color: white;
  transition: .4s;
}
.second-container {
  display: flex;
  align-items: center;
}
.second-container .textbox{
  flex-basis: 50%;
  padding: 10px;
  padding-left: 70px;
}
.second-container .textbox h2 {
  color: purple;
  font-size: 4rem;
}
.second-container .textbox p {
  font-weight: 500;
}
.second-container .imgbox{
  flex-basis: 50%;
  padding: 10px; 
}
.second-container img {
  max-width: 100%;
  height: auto;
}
.second-container .textbox a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: purple;
  border: 1px solid purple;
  padding: 9px 25px;
  line-height: 1.4;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  letter-spacing: 1px;
  left: 25px;
  position: relative;
}
.second-container .textbox a:hover{
  transform: scale(1.2);
  border: 1px solid purple;
  background: transparent;
  color: purple;
  transition: .4s;
}